* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fffae8;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
}

.header {
  padding-top: 45px;
}
@media (max-width: 586px) {
  .header {
    padding-top: 30px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  margin-left: auto;
}
@media (max-width: 1070px) {
  .header__nav {
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: #FFC800;
    flex-direction: column;
    padding: 30px 40px;
    transition: transform 0.5s;
    transform: translate(100%, 0);
    display: none;
  }
}
.header__nav-list {
  list-style: none;
  display: flex;
  gap: 26px;
}
@media (max-width: 1070px) {
  .header__nav-list {
    margin-top: 50px;
    flex-direction: column;
    gap: 40px;
  }
}
.header__nav-button {
  z-index: 10;
  position: absolute;
  top: 30px;
  right: 25px;
  width: 30px;
  height: 22px;
  background: url("../assets/svg/Burger.svg") no-repeat center/contain;
  display: none;
  transform: none;
  transition: 0.5s;
  filter: brightness(150%);
}
@media (max-width: 1070px) {
  .header__nav-button {
    display: block;
  }
}
.header__nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  transition: 0.5s;
}
.header__nav-link:hover {
  color: #05326d;
}

.date {
  display: flex;
}
@media (max-width: 586px) {
  .date {
    flex-direction: column;
  }
}
.date__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 20px;
}
@media (max-width: 586px) {
  .date__item {
    padding: 10px 0 0 0;
  }
}
.date__item:first-child {
  border-right: 3px solid #05326d;
  padding: 0 20px 0 0;
}
@media (max-width: 586px) {
  .date__item:first-child {
    border-right: none;
    border-bottom: 3px solid #05326d;
    padding: 0 0 10px 0;
  }
}
.date__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #01052f;
  text-align: center;
}
@media (max-width: 586px) {
  .date__description {
    font-size: 14px;
  }
}
.date__title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #05326d;
  text-align: center;
}
@media (max-width: 586px) {
  .date__title {
    font-size: 20px;
  }
}

.hero {
  margin-top: -95px;
  background: url("../assets/svg/wave.svg") no-repeat center 101%/101%, url("../assets/svg/main-bg.svg") no-repeat center/cover;
}
@media (max-width: 586px) {
  .hero {
    margin-top: -160px;
  }
}
.hero__container {
  display: flex;
  align-items: center;
}
@media (max-width: 1070px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content-wrap {
  margin-top: 225px;
  max-width: 640px;
  margin-bottom: 195px;
}
@media (max-width: 1070px) {
  .hero__content-wrap {
    margin-bottom: 65px;
  }
}
.hero__title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 55px;
}
@media (max-width: 1070px) {
  .hero__title {
    text-align: center;
  }
}
@media (max-width: 586px) {
  .hero__title {
    font-size: 22px;
    line-height: 28px;
  }
}
.hero__title span {
  display: block;
  margin-top: 40px;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 1070px) {
  .hero__title span {
    text-align: center;
  }
}
@media (max-width: 586px) {
  .hero__title span {
    font-size: 16px;
    line-height: 24px;
    margin-top: 26px;
  }
}
.hero__button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fffae8;
  padding: 16px 32px;
  border-radius: 50px;
  background: linear-gradient(180deg, #4282d3 0%, #0e51a7 100%);
}
@media (max-width: 1070px) {
  .hero__button {
    display: block;
    max-width: 250px;
    margin: 0 auto;
  }
}
.hero__button:hover {
  background: #4282d3;
}
.hero__img {
  width: 98%;
  height: auto;
  display: block;
  filter: drop-shadow(0px 0px 52px rgba(89, 44, 3, 0.22));
}
@media (max-width: 1070px) {
  .hero__img {
    width: 500px;
  }
}
@media (max-width: 586px) {
  .hero__img {
    width: 280px;
  }
}

.section {
  padding: 40px 0;
}
.section.for-whom {
  padding: 0 0 40px;
}
.section__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #05326d;
  margin-bottom: 16px;
}
@media (max-width: 586px) {
  .section__title {
    font-size: 28px;
    line-height: 32px;
  }
}
.section__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #01052f;
}

.for-whom .section__description {
  max-width: 60%;
}
@media (max-width: 1070px) {
  .for-whom .section__description {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 1070px) {
  .for-whom .section__title {
    text-align: center;
  }
}
@media (max-width: 1070px) {
  .for-whom__container {
    padding: 50px 20px 0;
  }
}
.for-whom__content-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 26px;
  margin-bottom: 40px;
}
@media (max-width: 1070px) {
  .for-whom__content-wrap {
    grid-template-columns: 1fr;
  }
}
.for-whom__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1070px) {
  .for-whom__card {
    max-width: 450px;
    margin: 0 auto;
  }
}
.for-whom__card:last-child img {
  width: auto;
  height: 280px;
  margin-top: 20px;
}
.for-whom__img {
  display: block;
}
@media (max-width: 586px) {
  .for-whom__img {
    width: 100%;
    max-width: 300px;
  }
}
.for-whom__card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #05326d;
  margin-bottom: 12px;
  text-align: center;
}
.for-whom__card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #01052f;
  text-align: left;
}
@media (max-width: 586px) {
  .for-whom__card-description {
    text-align: center;
  }
}
.for-whom__button {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fffae8;
  padding: 16px 32px;
  border-radius: 50px;
  background: linear-gradient(180deg, #f2ef0c 0%, #ffc800 100%);
  margin: 0 auto;
  max-width: 220px;
}
.for-whom__button:hover {
  background: #f2ef0c;
}

.program .section__title {
  text-align: center;
}
.program__content-wrap {
  margin: 40px auto;
  width: 100%;
  max-width: 790px;
}
.program__button {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fffae8;
  padding: 16px 32px;
  border-radius: 50px;
  background: linear-gradient(180deg, #f2ef0c 0%, #ffc800 100%);
  margin: 0 auto;
  max-width: 220px;
}
.program__button:hover {
  background: #f2ef0c;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background: linear-gradient(180deg, #f2ef0c 0%, #ffc800 100%);
  border-radius: 50px;
  margin-bottom: 12px;
  cursor: pointer;
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion:hover {
  background: #f2ef0c;
}
.accordion.active {
  outline: 3px solid #f2ef0c;
  outline-offset: -3px;
  background: #fffae8;
}
.accordion.active .module-title {
  color: #05326d;
}
.accordion.active .arrow {
  background: url("../assets/svg/arrow_blue.svg") no-repeat center/contain;
}

.module-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.arrow {
  display: block;
  width: 20px;
  height: 10px;
  background: url("../assets/svg/arrow.svg") no-repeat center/contain;
  transition: 0.5s;
}

.accordion.active .arrow {
  transform: rotate(180deg);
}

.acc-panel {
  display: none;
  padding: 10px 20px;
}
.acc-panel p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #01052F;
}
.acc-panel ul {
  margin-bottom: 12px;
  margin-top: 6px;
  padding-left: 25px;
}
.acc-panel li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #01052F;
}

.acc-panel.active {
  display: block;
}

.benefits .section__title {
  text-align: center;
}
.benefits__content-wrap {
  margin: 60px 0 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1070px) {
  .benefits__content-wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 40px;
  }
}
@media (max-width: 586px) {
  .benefits__content-wrap {
    grid-template-columns: 1fr;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit__img {
  display: block;
  margin: 0 auto;
}
.benefit__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #05326D;
  margin-bottom: 12px;
  margin-top: 32px;
}
.benefit__descrpition {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #01052F;
}

.section-bg {
  background: url("../assets/svg/wave-mirror.svg") no-repeat center -1%/101%, url("../assets/svg/wave-bottom.svg") no-repeat center 101%/101%, url("../assets/svg/author-bg.svg") no-repeat center/cover;
}
@media (max-width: 586px) {
  .section-bg {
    background: url("../assets/svg/wave-mirror.svg") no-repeat center -1%, url("../assets/svg/wave-bottom.svg") no-repeat left 101%, url("../assets/svg/author-bg.svg") no-repeat center/cover;
  }
}

.author__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1070px) {
  .author__container {
    flex-direction: column;
  }
}
.author__img {
  display: block;
  filter: drop-shadow(0px 0px 52px rgba(89, 44, 3, 0.22));
  max-width: 100%;
  height: auto;
}
@media (max-width: 1070px) {
  .author__img {
    width: 480px;
  }
}
.author__content-wrap {
  max-width: 50%;
  margin-left: 16px;
  margin-top: 100px;
}
@media (max-width: 1070px) {
  .author__content-wrap {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}
.author__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #05326D;
  margin-bottom: 10px;
}
@media (max-width: 1070px) {
  .author__subtitle {
    text-align: center;
  }
}
.author__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #05326D;
  margin-bottom: 30px;
}
@media (max-width: 1070px) {
  .author__title {
    text-align: center;
  }
}
.author__about {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #05326D;
  padding-left: 30px;
}
.author__about li {
  margin-bottom: 10px;
}

.reviews__container {
  padding-bottom: 200px;
  padding: 0 70px 200px;
  max-width: 1340px;
}
@media (max-width: 586px) {
  .reviews__container {
    padding: 0 10px 140px;
  }
}
.reviews .section__title {
  text-align: center;
}
.reviews__slider {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.reviews__button {
  flex-shrink: 0;
  border: none;
  background: transparent url("../assets/svg/arrow_blue.svg") no-repeat center/contain;
  display: block;
  width: 40px;
  height: 20px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.5s;
}
.reviews__button:hover {
  filter: brightness(160%);
}
.reviews__button.button-right {
  transform: rotate(270deg);
}
.reviews__pagination {
  max-width: 400px;
  margin: 40px auto 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.reviews__pagination span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  cursor: pointer;
  background: #4282D3;
}
.reviews__pagination span.active {
  background: #05326D;
}

.review {
  width: 100%;
  min-height: 300px;
  background: #fffae8;
  border-radius: 20px;
  padding: 25px;
  margin: 0 10px;
}
.review__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #01052F;
}
@media (max-width: 586px) {
  .review__text {
    font-size: 14px;
    line-height: 18px;
  }
}
.review__text span {
  display: block;
  margin-top: 15px;
  color: #F2920C;
}

.section.registration {
  padding-top: 0;
  margin-top: -40px;
}

@media (max-width: 1150px) {
  .registration .section__title {
    text-align: center;
  }
}
.registration__container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 1150px) {
  .registration__container {
    flex-direction: column;
  }
}
.registration__left {
  max-width: 50%;
}
@media (max-width: 1150px) {
  .registration__left {
    max-width: 100%;
  }
}
.registration__right {
  max-width: 50%;
}
@media (max-width: 1150px) {
  .registration__right {
    max-width: 100%;
  }
}
.registration__button {
  position: relative;
  display: block;
  max-width: 350px;
  margin: 20px auto 0;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #fffae8;
  padding: 18px 40px;
  border-radius: 50px;
  background: linear-gradient(180deg, #4282d3 0%, #0e51a7 100%);
}
.registration__button:hover {
  background: #4282d3;
}

.rate__description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #01052F;
  padding-left: 30px;
  margin-top: 24px;
}
.rate__description li {
  margin-bottom: 10px;
}
@media (max-width: 586px) {
  .rate__description {
    font-size: 20px;
    line-height: 24px;
  }
}
.rate__del-price {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #05326D;
  text-align: center;
  margin-bottom: 42px;
}
@media (max-width: 586px) {
  .rate__del-price {
    font-size: 30px;
    line-height: 35px;
  }
}
.rate__price {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #05326D;
  text-align: center;
}
@media (max-width: 586px) {
  .rate__price {
    font-size: 34px;
    line-height: 40px;
  }
}
.rate__price span {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  background: linear-gradient(180deg, #F2920C 0%, #FFC800 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media (max-width: 586px) {
  .rate__price span {
    font-size: 60px;
  }
}

.footnote {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #01052F;
  margin-top: 32px;
  text-align: center;
}
.footnote a {
  font-weight: 600;
  color: #01052F;
}
.footnote a:hover {
  color: #05326D;
}

.footer {
  min-height: 175px;
  background: linear-gradient(180deg, #F2EF0C 0%, #FFC800 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.footer__contacts {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
@media (max-width: 1070px) {
  .footer__contacts {
    flex-direction: column;
  }
}
@media (max-width: 586px) {
  .footer__contacts {
    gap: 30px;
  }
}
.footer__contacts-link {
  display: block;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #01052F;
  transition: 0.5s;
  padding-left: 28px;
}
.footer__contacts-link:hover {
  color: #05326D;
}
@media (max-width: 586px) {
  .footer__contacts-link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
  }
}

.instagram::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: calc(50% - 11px);
  left: 0;
  background: url("../assets/svg/instagram.svg") no-repeat center/contain;
}

.telegram::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: calc(50% - 11px);
  left: 0;
  background: url("../assets/svg/telegram.svg") no-repeat center/contain;
}

.mail::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: calc(50% - 11px);
  left: 0;
  background: url("../assets/svg/mail.svg") no-repeat center/contain;
}

.slider {
  min-width: 0;
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  justify-content: center;
}

.slick-arrow {
  position: absolute;
  top: calc(50% - 30px);
  left: -50px;
  flex-shrink: 0;
  border: none;
  background: transparent url("../assets/svg/arrow_blue.svg") no-repeat center/contain;
  display: block;
  width: 40px;
  height: 20px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.5s;
  font-size: 0;
}
.slick-arrow:hover {
  filter: brightness(160%);
}
.slick-arrow.slick-next {
  transform: rotate(270deg);
  left: auto;
  right: -50px;
}

.slick-dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
  list-style: none;
}
.slick-dots li.slick-active button {
  background: #05326D;
}
.slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  cursor: pointer;
  background: #4282D3;
  border: none;
  font-size: 0;
}/*# sourceMappingURL=style.css.map */